AdvantClickerTT/[Ll]ibrary/
AdvantClickerTT/[Tt]emp/
AdvantClickerTT/[Oo]bj/
AdvantClickerTT/[Bb]uild/
AdvantClickerTT/[Bb]uilds/
AdvantClickerTT/UserSettings
AdvantClickerTT/.idea/

*.log
*.csproj

.DS_Store