AdvantClickerTT/[Ll]ibrary/
AdvantClickerTT/[Tt]emp/
AdvantClickerTT/[Oo]bj/
AdvantClickerTT/[Bb]uild/
AdvantClickerTT/[Bb]uilds/
AdvantClickerTT/Assets/StreamingAssets/
AdvantClickerTT/Assets/Plugins/Editor/JetBrains/Editor/JetBrains/

*.log
crashlytics-build.properties

.DS_Store